{% extends "common/default.html" %}
{% block content %}
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-sliders"></i> My Plans</b></h5>
  </header>
  <div class="w3-container">
      <div class="w3-display-container" style="height:60px;">
          <button class="w3-btn w3-teal w3-round w3-xlarge w3-display-topright" id="show_add_plans_modal">Add</button>
      </div>
      <ul class="w3-ul w3-border">
          <li><h2>Plans</h2></li>
          {% if plans %}
                 <li class="w3-row w3-blue-grey">
                    <span class="w3-col m2"><h6>S.No</h6></span>
                    <span class="w3-col m4"><h6>Name</h6></span>
                    <span class="w3-col m2"><h6>Price</h6></span>
                    <span class="w3-col m2"><h6>Discount</h6></span>
                    <span class="w3-col m2 w3-center"><h6>Actions</h6></span>
                </li>
              {% for plan in plans %}
                <li class="w3-row">
                    <span class="w3-col m2">{{plan.id}}</span>
                    <span class="w3-col m4">{{ plan.name }}</span>
                    <span class="w3-col m2">{{ plan.price }}</span>
                    <span class="w3-col m2">{{ plan.discount }}</span>
                    <span class="w3-col m2 w3-center">
                        <button class="w3-btn w3-red w3-round delete-plans action" data-id="{{plan.id}}"><i class="fa fa-trash"></i></button>
                        <button class="w3-btn w3-red w3-round delete-plans confirm" data-id="{{plan.id}}"><i class="fa fa-check-square"></i></button>
                        <button class="w3-btn w3-teal w3-round delete-plans abort" data-id="{{plan.id}}"><i class="fa fa-times-rectangle"></i></button>
                    </span>
                </li>
              {% endfor %}
          {% else %}
              <li class="w3-red">No Data.</li>
          {% endif %}
      </ul>
  </div>
  
</div>
<div class="w3-modal" id="add_plans_modal">
    <div class="w3-modal-content w3-card">
        <div class="w3-center" style="height: 52px;">
            <span class="w3-button w3-xlarge w3-hover-red w3-display-topright close-w3-modal">&times;</span>
        </div>
        <div class="w3-container w3-border-top w3-padding-16">
            <div class="w3-section">
                <label for="plans_name_input w3-red">Plan Name</label>
                <input type="text" class="w3-input w3-border w3-margin-bottom" placeholder="Plan" id="plans_name_input" />
            </div>
            <div class="w3-section">
                <label for="plans_name_input w3-red">Plan Fee</label>
                <input type="number" class="w3-input w3-border w3-margin-bottom" placeholder="Plan Fee" id="plans_fee_input" />
            </div>
            <div class="w3-section">
                <label for="plans_name_input">Plan Name</label>
                <input type="text" class="w3-input w3-border w3-margin-bottom" placeholder="Plan Discount" id="plans_discount_input" />
            </div>
        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
           <div class="w3-display-container" style="height: 36px">
                <button class="w3-button w3-round w3-teal w3-display-bottomright" id="add_plans">Add</button>
            </div>
        </div>
    </div>
</div>


<!-- End page content -->

{% endblock %}
{% block scripts%}
<script src="/static/scripts/plans.js"></script>
{% endblock %}