.confirm,.abort,.action[disabled]{
    display: none;
}
.action[disabled] ~ .confirm,
.action[disabled] ~ .abort{
    display: inline-block;
}
/*components**********************/
.toUppercase{
    text-transform: uppercase;
}
